<h1><%= @article.title %> <%= link_to "âœ", edit_article_path %> <%= link_to "ðŸš®", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></h1>


<p><%= @article.content %></p>
